<div class="offcanvas {% if request.method == "POST" %}show {% endif %} offcanvas-start"
     tabindex="-1"
     id="offcanvasWithBackdrop"
     aria-labelledby="offcanvasWithBackdropLabel">
  <form action="{{ request.get_full_path }}" method="post">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title"
          id="offcanvasWithBackdropLabel">{{ title }}</h5>
      <button type="button" class="btn-close text-reset"
              data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Создать</button>
    </div>
  </form>
</div>
