{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  Клиенты
{% endblock %}

<!-- Блок левого меню -->
{% block sidebar %}
  {% include 'crm/includes/crm_sidebar.html' %}
{% endblock %}

<!-- Блок навигации -->
{% block navigation %}
  {% include 'crm/includes/crm_navigation.html' %}
{% endblock %}

<!-- Блок контента -->
{% block content %}


  <style>
  tr.customer:hover{
      cursor: pointer;
  }
  </style>
  <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 container">
            <div class="row">
              <h6 class="col">Все клиенты</h6>
              <button type="button" class="btn btn-light col-2"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFormCustomer"
                      aria-expanded="false" aria-controls="collapseFormCustomer">
                Создать
              </button>
              <div class="collapse {{ show }}" id="collapseFormCustomer">

                  <form action="{{ request.get_full_path }}" method="post" class="row">
                    {% csrf_token %}
                    <div class="col-2">
                      {% if form.last_name.errors %}

                      {% render_field form.last_name class='form-control form-control-alternative is-invalid' placeholder='Фамилия' %}

                      {% else %}
                      {% render_field form.last_name class='form-control' placeholder='Фамилия' %}
                      {% endif %}
                    <span class="text-xs text-secondary mb-0">
                      {{ form.last_name.errors }}
                    </span>
                    </div>
                    <div class="col-2">
                      {% if form.first_name.errors %}
                      {% render_field form.first_name class='form-control form-control-alternative is-invalid' placeholder='Имя' %}
                      {% else %}
                      {% render_field form.first_name class='form-control' placeholder='Имя' %}
                      {% endif %}
                    <span class="text-xs text-secondary mb-0">
                      {{ form.first_name.errors }}
                    </span>
                    </div>
                    <div class="col-2">
                      {% if form.family_name.errors %}
                      {% render_field form.family_name class='form-control form-control-alternative is-invalid' placeholder='Отчество' %}
                      {% else %}
                      {% render_field form.family_name class='form-control' placeholder='Отчество' %}
                      {% endif %}
                    <span class="text-xs text-secondary mb-0">
                      {{ form.family_name.errors }}
                    </span>
                    </div>
                    <div class="col-2">
                      {% if form.phone.errors %}
                      {% render_field form.phone class='form-control form-control-alternative is-invalid' placeholder='Телефон' %}
                      {% else %}
                      {% render_field form.phone class='form-control' placeholder='Телефон' %}
                      {% endif %}
                    <span class="text-xs text-secondary mb-0">
                      {{ form.phone.errors }}
                    </span>
                    </div>
                    <div class="col-2">
                      {% render_field form.source class='form-control' %}
                    <span class="text-xs text-secondary mb-0">
                      {{ form.source.errors }}
                    </span>
                    </div>

                 <button class="btn btn-secondary col-2 h-25" type="submit">Добавить</button>


                  </form>


              </div>
            </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table table-hover align-items-center mb-0">
                <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    ФИО
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Номер телефона
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Статус
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Источник
                  </th>

                </tr>
                </thead>
                <tbody>
                {% for customer in object_list %}
                  <tr class="customer">
                    <td onclick="document.location = '{% url 'crm:crm_customer_detail' customer.pk %}'">
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ customer }}</h6>
{#                          <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>#}
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ customer.phone }}</p>
{#                      <p class="text-xs text-secondary mb-0">Organization</p>#}
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success">Действующий</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ customer.source.source }}</span>
                    </td>

                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Окно создания выплывающее слева -->
{#  {% include 'crm/includes/crm_modal_form.html' with title='Новый клиент' %}#}



{% endblock %}