{% extends 'base.html' %}
{% block left_menu %}
  {% include 'supply/includes/supply_main_menu.html' %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col"><h2>Номенклатура</h2></div>

    <div class="col-3">
      <button type="button" class="btn btn-info py-1 my-1"
              data-bs-toggle="modal" data-bs-target="#exampleModal">Создать
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Группа</th>
      </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>

          <td>{{ obj.pk }}</td>
          <td><a href="#">{{ obj.name }}</a></td>
          <td>{{ obj.category }}</td>
          <td>{{ obj.group }}</td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
{% include 'supply/includes/supply_modal_form.html' with title='Новый клиент' %}

{% endblock %}