{% with request.resolver_match.view_name as view_name %}
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link {% if view_name == 'production:production_orders' %} active {% endif %}"
         href="{% url 'production:production_orders' %}">
        <span data-feather="home"></span>
        Заказы на производство
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view_name == 'crm:crm_addresses' %} active {% endif %}"
         href="#">
        <span data-feather="file"></span>
        Наряды
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if view_name == 'crm:crm_orders' %} active {% endif %}"
         href="#">
        <span data-feather="shopping-cart"></span>
        Заказы
      </a>
    </li>
  </ul>
{% endwith %}