{% extends 'base.html' %}
{% block left_menu %}
  {% include 'production/includes/production_main_menu.html' %}
{% endblock %}
{% block content %}

  <div class="row">
    <div class="col"><h2>Заказы на производство</h2></div>

    <div class="col-3">
      <button type="button" class="btn btn-info py-1 my-1"
              data-bs-toggle="modal" data-bs-target="#exampleModal">Создать
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">№</th>

        <th scope="col">Название</th>
      </tr>
      </thead>
      <tbody>
      {% for order in object_list %}
        <tr>

          <td>{{ order.pk }}</td>
          <td><a href="#">{{ order.name.title }}</a></td>


        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'production/includes/production_modal_form.html' with title='Новый заказ' %}
{% endblock %}