{% load widget_tweaks %}

<div class="modal fade" id="exampleModal" tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{ request.get_full_path }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">

            {% csrf_token %}
          <div>{{ form.category.label_tag }}
          {% render_field form.category hx-get='/supply/group/' hx-target='#id_group' %}

</div><div>
          {{ form.group.label_tag }}
          {% render_field form.group autocomplete='off' %}
</div><div>
          {{ form.name.label_tag }}
          {% render_field form.name %}
</div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Создать</button>
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Закрыть
          </button>

        </div>
          </form>
      </div>
    </div>
  </div>