<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"
       href="{% url 'crm:crm_customers' %}">
      <span data-feather="home"></span>
      RMP
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'supply:supply_nomenclature' %}">
      <span data-feather="file"></span>
      RMZ
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="shopping-cart"></span>
      RMT
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'production:production_orders' %}">
      <span data-feather="users"></span>
      RMNP
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="bar-chart-2"></span>
      RMF
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="layers"></span>
      other
    </a>
  </li>
</ul>